.Facility{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Pagination{
        margin-top: 35px;
    }
    .Facilities-Item{
        padding: 10px 25px;
        img{
            height: 300px;
        }
    }
}