.MedicalSpecial {
    padding: 0px 25px;
    .MedicalSpecial-title {
        h2 {
            font-size: 35px;
            span {
                color: #1d93e3;
            }
            @media (max-width: 570px) {
                font-size: 20px;
            }
        }
    }
}
.CardGroup {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card {
        border: solid 2px #1d93e3;
        padding-top: 2rem;
        align-items: center;
        .imgHover {
            display: none;
        }
    }
    :hover {
        background-color: #1d93e3;
        color: #fff;
        .imgMain {
            display: none;
        }
        .imgHover {
            display: block;
        }
    }
}
