.DoctorInfomationModalContent{
    button{
        border-radius: 0px !important;
    }
}
.DoctorInformationModal-Body{
    display: flex;
    .DoctorItem{
        flex-basis: 80%;
        margin-right: 20px;
        height: 500px;
        .Doctor-Item-Cotent{
            padding: 60px !important;
        }
    }
    
}