.ServicesHomeComponent{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Services-title {
        padding: 0px 25px;
       h2 {
           font-size: 35px;
           span {
               color: #1d93e3;
           }
           @media (max-width: 570px) {
               font-size: 10px;
           }
       }
   }
   .ServicesHome{
       position: relative;
       .ServicesSlider{
         
       }
       .btnLeft {
        font-size: 30px;
        position: absolute;
        top: 35%;
        left: -10px;
        transform: translateY(100%);
        z-index: 20;
        transform-origin: center;
        cursor: pointer;
    
    }
    .btnLeft svg {
        opacity: 0.7;
        font-size: 50px;
       
        transition: all 0.3s ease-out;
        &:hover {
            opacity: 1;
            transform: scale(1.2);
        }
    }
    
    .btnLeft:hover svg {
        color: #1d93e3;
    }
    .btnRight {
        font-size: 30px;
        position: absolute;
        top: 35%;
        right: -10px;
        transform: translateY(100%);
        z-index: 20;
        transform-origin: center;
        cursor: pointer;
       
    }
    .btnRight svg {
        opacity: 0.7;
        font-size: 50px;
        transition: all 0.3s ease-out;
        &:hover {
            opacity: 1;
            transform: scale(1.2);
        }
    }
    
    .btnRight:hover svg {
        color: #1d93e3;
    }
    
   }
}