.ServicesHomeComponent{
    margin-top: 60px;
    .Services-title {
        padding: 0px 25px;
       h2 {
           font-size: 35px;
           span {
               color: #1d93e3;
           }
           @media (max-width: 570px) {
               font-size: 10px;
           }
       }
   }
   .ServicesHome{
       position: relative;
       .ServicesSlider{
         
       }
       .btnLeft{  
           position: absolute;
           border-radius: 15px;
           left: 5px;
           top: 30%;
          
           z-index: 2;
          cursor: pointer;
       }
       svg{
           font-size: 35px ;
           color: white;
          
       }
       .btnRight{
           position: absolute;
           border-radius: 15px;
           right: 2px;
           top: 30%;
          
           z-index: 2;
       
       }
   }
}