.Doctors {
    .Doctors-title {
        h2 {
            font-size: 35px;
            span {
                color: #1d93e3;
            }
            @media (max-width: 570px) {
                font-size: 20px;
            }
        }
    }
}
