.Facilities {
    align-items: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Facilities-title {
        h2 {
            font-size: 35px;
            span {
                color: #1d93e3;
            }
            @media (max-width: 570px) {
                font-size: 20px;
            }
        }
    }
 
        .card {
            .card-title {
                height: 3rem;
            }
        }
        img {
            height: 250px;
            
        }
    
}
