.nav {
    position: fixed;
    z-index: 100;
    transition: 0.5s;
    transition-timing-function: ease-in;
}
.logo {
    width: 120px;
    height: 80%;
}

.navSearch {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}

.nav-search input {
    font-size: 14px;
    border: none;
    color: black;
    outline: none;
    background-color: rgb(27, 23, 23, 0.5);
    width: 0px;
    padding: 10px;
    border: 1px solid #fff;
    transition: width 0.5s;
    cursor: pointer;

}

input:focus {
    border: 0.5px solid white;
    padding-left: 26px;
    width: 300px;
    cursor: text;
    opacity: 1;
    border-radius: 4px;
}
.intro {
    position: relative;
    padding-top: 53%;
    margin-bottom: -200px;
}

.videoIntro {
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.InfoIntro {
    position: absolute;
    top: 350px;
    left: 100px;
    z-index: 1;
    color: white;
}
.btnVolume {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 10%;
    top: 50%;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
    color: #bbb;
    border: #fff solid 1px;
    transition: all 0.3s;
    transform: scale(1);
    &:hover {
        color: #fff;
        background-color: rgba(211, 211, 211, 0.178);
        transform: scale(1.2);
        transition: all 0.3s;
    }
}

