.MedicalSpecial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 0px 25px;
    .MedicalSpecial-title {
        h2 {
            font-size: 35px;
            span {
                color: #1d93e3;
            }
            @media (max-width: 570px) {
                font-size: 20px;
            }
        }
    }
}
.MedicalSpecial-Group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
       
        margin: 10px 0;
        cursor: pointer;
       flex-basis: 15%;
        border: solid 1px #1d93e3;
        padding-top: 2rem;
        align-items: center;
        .imgHover {
            display: none;
        }
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
        .card-body{
            padding: 20px 10px;
        }
        &:hover {
            background-color: #1d93e3;   
            color: #fff;
            .imgMain {
                display: none;
            }
            .imgHover {
                display: block;
            }
            .modal-title{
                color: black;
            }
        }
    }
   
}
